<!-- 
<h2>Hello world</h2>
<p>this is my first component</p>
<p>{{message}}</p>

<router-outlet></router-outlet> -->

<!-- <button type="button" [disabled] = "canClick" (click) ="alertMessage()"  >Trigger alert</button>

<p [id] ="sayHelloId" [style.color] = "fontColor">Setting my color in compone</p> -->

<!-- <button type="button" (click) = "onLogMe()" >DI Injection Example </button> -->
<!-- 
<div *ngIf ="canEdit; else noEdit">
  <p>you can edit the following paragraph</p>
</div>

<ng-template #noEdit>
  <p>the following is ready only Try clicking the button !</p>
</ng-template>

<p [contentEditable] = "canEdit" >{{message}}</p> -->

<div class="app">
  <header>
    <h1>Todo List</h1>
  </header>
  <app-todos></app-todos>
</div>